.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: transparent !important;
}

nav ul li {
  margin: 0 !important;
  padding: 0 !important;
}


.name input , .first-letter input {
  background-color: transparent !important;
}


input{
  color: white !important;
}
.pointer{ 
  cursor: pointer;
}


input::placeholder{
  color: #708288 !important;
  text-transform: capitalize;
}

.white{
  top: 100%;
  height: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.cat:hover .white , .meal:hover .white{
  top: 0;
  bottom: 0;
}

.cat ,.meal{
  cursor: pointer;
}

#area i , #ingradients i {
  font-size: 6rem;
  color: white ;
}

#area .box {
  cursor: pointer;
}

#loader{
  display: flex;
}

#close {
  cursor: pointer;
}

#ing{
  height: 270px;
  overflow: hidden;
}

.burger{
  cursor: pointer;
}

#navbarNav ul li {
  position: relative ;
  bottom: -100%;
  left: -100%;
  padding: 10px;
}

input{
  color: black !important;
}